In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
521,tt0257106,45000000,141220678,Scary Movie 2,Anna Faris|Marlon Wayans|James DeBello|Shawn W...,Keenen Ivory Wayans,No More Mercy. No More Shame. No More Sequels ...,While the original parodied slasher flicks lik...,83,Comedy,Gold/Miller Productions|Wayans Bros. Entertain...,7/4/2001,5.5,2001
1026,tt1645170,65000000,179379533,The Dictator,Sacha Baron Cohen|Sayed Badreya|Aasif Mandvi|M...,Larry Charles,kurd,The heroic story of a dictator who risks his l...,83,Comedy,Paramount Pictures,5/15/2012,5.9,2012
806,tt1438176,17000000,24922237,Fright Night,Anton Yelchin|Colin Farrell|Toni Collette|Chri...,Craig Gillespie,You can't run from evil when it lives next door.,A teenager suspects his new neighbour is a vam...,106,Horror|Comedy,Touchstone Pictures,8/18/2011,6.1,2011
1232,tt1931435,35000000,21819348,The Big Wedding,Robert De Niro|Diane Keaton|Katherine Heigl|Am...,Justin Zackham,It's never too late to start acting like a family,To the amusement of their adult children and f...,90,Comedy,Millenium Films|Two Ton Films,4/25/2013,5.6,2013
1392,tt0358273,28000000,186438883,Walk the Line,Joaquin Phoenix|Reese Witherspoon|Ginnifer Goo...,James Mangold,Love is a burning thing.,A chronicle of country music legend Johnny Cas...,136,Drama|Music|Romance,Tree Line Films|Konrad Pictures|Catfish Produc...,9/13/2005,7.0,2005

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
budget_max = data[data.budget == data.budget.max()]
budget_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [11]:
runtime_max = data[data.runtime == data.runtime.max()]
runtime_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [13]:
runtime_min = data[data.runtime == data.runtime.min()]
runtime_min

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'

In [15]:
runtime_mean = round(data.runtime.mean())
runtime_mean

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '1. 107'

In [17]:
runtime_median = round(data.runtime.median())
runtime_median

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = '5. Avatar (tt0499549)'

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
profit = data.revenue - data.budget #получаем значение прибыли/убытка
data['profit'] = profit #добавляем столбик с прибылью/убытком

In [20]:
profit_max = data[data.profit == data.profit.max()] #вычисляем строку с максимальным значением прибыли
profit_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [22]:
profit_min = data[data.profit == data.profit.min()] #вычисляем строку с максимальным значением убытка
profit_min

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1. 1478'

In [24]:
rev_plus = data[data.profit > 0] #выбираем все фильмы со сборами выше бюджета
len(rev_plus) #выводим количество фильмов со сборами выше бюджета

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [26]:
year_2008 = data[data.release_year == 2008] #выбираем все фильмы 2008 года
year_2008_max_revenue = year_2008[year_2008.revenue == year_2008.revenue.max()] #выбираем фильм 2009 года c максимальным сбором
year_2008_max_revenue

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [28]:
year_12_14 = data.query('release_year>= 2012 & release_year <= 2014') #выбираем все фильмы 2012-2014 годов
year_12_14_min_profit = year_12_14[year_12_14.profit == year_12_14.profit.min()] #выбираем фильм c максимальным убытком
year_12_14_min_profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

ВАРИАНТ 2

In [40]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))#разделяем значения в столбце жанражанры
#считаем количество упоминаний каждого жанражанры
import collections 
genres = collections.Counter()
for genre in data['genres']:
    for g in genre:
        genres[g] +=1
genres = pd.Series(genres).sort_values(ascending = False)
genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = '1. Drama'

In [37]:
#считаем количество упоминаний каждого жанра в среди фильмов с прибылью больше бюджета
rev_plus = data[data.profit > 0]
import collections 
genres_plus = collections.Counter()
for genre in rev_plus['genres']:
    for g in genre:
        genres_plus[g] +=1
genres_plus = pd.Series(genres_plus).sort_values(ascending = False)
genres_plus

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [38]:
answers['13'] = '5. Peter Jackson'

In [39]:
data['director'] = data['director'].apply(lambda x:x.split('|'))#разделяем значения в столбце режиссёр
data_dirctor = data.explode('director')#создаём таблицу по режиссёрам
data_dirctor.groupby(['director'])['revenue'].sum().sort_values(ascending = False )# формируем список режиссёров с суммами выручки за все фильмы с ех участием

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
answers['14'] = '3. Robert Rodriguez'

In [43]:
data['director'] = data['director'].apply(lambda x:x.split('|'))#разделяем значения в столбце режиссёр
data_dirctor = data.explode('director') #создаём таблицу по режиссёрам
data_genres = data.explode('genres') #создаём таблицу по жанрам
data_action = data_genres[data_genres.genres == 'Action'] #создаём таблицу только с жанром Action
data_director_action = data_action.explode('director')#создаём таблицу режиссёров из жанра Action
director_action = data_director_action['director'].value_counts() #считаем количество упоминаний режиссёров
director_action

Robert Rodriguez         9
Paul W.S. Anderson       7
Michael Bay              7
Antoine Fuqua            6
Ridley Scott             6
                        ..
Pitof                    1
Karyn Kusama             1
John Erick Dowdle        1
Gina Prince-Bythewood    1
Jay Russell              1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [46]:
answers['15'] = '3.Chris Hemsworth'

In [47]:
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget #получаем значение прибыли/убытка
data['profit'] = profit#добавляем столбик с прибылью/убытком
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
year_2012 = data[data.release_year == 2012] #выбираем все фильмы 2012 года
data_cast_12 = year_2012.explode('cast') #создаём таблицу по актёрам в 2012 году
data_cast_12.groupby(['cast'])['revenue'].sum().sort_values(ascending = False ) #формируем список

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [48]:
answers['16'] = '3.Matt Damon'

In [49]:
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget #получаем значение прибыли/убытка
data['profit'] = profit#добавляем столбик с прибылью/убытком
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data_high_budget = data[data.budget > data.budget.mean()] #список фильмов с бюджетом выше среднего

import collections 
cast_high_budget = collections.Counter()
for cast in data_high_budget['cast']:
    for cas in cast:
        cast_high_budget[cas] +=1
cast_high_budget = pd.Series(cast_high_budget).sort_values(ascending = False)
cast_high_budget

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Marsha Thomason       1
Jennifer Tilly        1
Eileen Atkins         1
Jenna Elfman          1
Piper Perabo          1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [50]:
answers['17'] = '2. Action'

In [51]:
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget #получаем значение прибыли/убытка
data['profit'] = profit#добавляем столбик с прибылью/убытком
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data['genres'] = data['genres'].apply(lambda x:x.split('|'))#разделяем значения в столбце жанры
data_cast = data.explode('cast') #создаём таблицу по актёрам
data_N_Cage = data_cast[data_cast.cast == 'Nicolas Cage']#формируем таблицу для Nicolas Cage

import collections 
N_Cage_genres= collections.Counter()
for genre in data_N_Cage['genres']:
    for g in genre:
        N_Cage_genres[g] +=1
N_Cage_genres = pd.Series(N_Cage_genres).sort_values(ascending = False)
N_Cage_genres

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [52]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [54]:
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget #получаем значение прибыли/убытка
data['profit'] = profit#добавляем столбик с прибылью/убытком
data_Par_Pic = data[data.production_companies.str.contains('Paramount Pictures')]#выбираем фильмы, где присутствует 'Paramount Pictures'
data_Par_Pic.sort_values('profit', ascending = False) #сортируем

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures|Di Bonaventura Pictures|Has...,6/28/2011,6.1,2011,928746996
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009,686297228
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/27/2007,6.6,2007,559709780
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures|Skydance Productions|Bad Ro...,12/7/2011,6.7,2011,549713380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,5.7,2004,-24805000
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004,-46604061
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [55]:
answers['19'] = '5. 2015'

In [56]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [58]:
answers['20'] = '1. 2014'

In [57]:
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget #получаем значение прибыли/убытка
data['profit'] = profit#добавляем столбик с прибылью/убытком
data_War_Bros = data[data.production_companies.str.contains('Warner Bros')]#выбираем фильмы, где присутствует 'Warner Bros'
data_War_Bros.groupby('release_year')['profit'].sum().sort_values(ascending = False)# суммируем прибыль по годам

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [59]:
answers['21'] = '4. Сентябрь'

In [60]:
data_release = pd.read_csv('movie_bd_v5.csv')
data_release['release_date'] = data_release['release_date'].apply(lambda x:x.split('/'))#создаём таблицу с разделёнными датами 
data_release['month'] = data_release['release_date'].apply(lambda x:x[0])# добавляем столбик с месяцем релиза
#считаем количество упоминаний каждого месяца
import collections 
month = collections.Counter()
for m in data_release['month']:
    month[m] +=1
month = pd.Series(month).sort_values(ascending = False)
month

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [61]:
answers['22'] = '2. 450'

In [62]:
data_release = pd.read_csv('movie_bd_v5.csv')
data_release['release_date'] = data_release['release_date'].apply(lambda x:x.split('/'))#создаём таблицу с разделёнными датами 
data_release['month'] = data_release['release_date'].apply(lambda x:x[0])# добавляем столбик с месяцем релиза
data_release_summer = data_release.loc[data_release['month'].isin(['6','7','8'])]# создаём таблицу только по летним месяцам
len (data_release_summer) # считаем количество фильмов за летние месяцы

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [63]:
answers['23'] = '5. Peter Jackson'

In [64]:
data_release = pd.read_csv('movie_bd_v5.csv')
data_release['release_date'] = data_release['release_date'].apply(lambda x:x.split('/'))#создаём таблицу с разделёнными датами
data_release['director'] = data_release['director'].apply(lambda x:x.split('|'))
data_release['month'] = data_release['release_date'].apply(lambda x:x[0])# добавляем столбик с месяцем релиза
data_release_winter = data_release.loc[data_release['month'].isin(['1','2','12'])]# создаём таблицу только по зимним месяцам
data_director_winter = data_release_winter.explode('director')
#считаем количество упоминаний каждого директора в таблице зимних месяцев:
import collections 
director_winter = collections.Counter()
for d in data_director_winter['director']:
    director_winter[d] +=1
director_winter = pd.Series(director_winter).sort_values(ascending = False)
director_winter

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
                    ..
Ronald F. Maxwell    1
Alan Parker          1
Chris Koch           1
Ben Stiller          1
J.J. Abrams          1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [65]:
answers['24'] = '5. Four By Two Productions'

In [67]:
data24 = pd.read_csv('movie_bd_v5.csv')
data24 ['name_length'] =  data24.original_title.apply(lambda x: len(x))#создаём столбик с количеством символов названия фильма
data24['production_companies'] = data24['production_companies'].apply(lambda x:x.split('|'))
data_prod_com = data24.explode('production_companies') #создаём таблицу по кинокомпаниям
data_prod_com.groupby('production_companies')['name_length'].mean().sort_values(ascending = False)# считаем среднее значение длинны названия ыфильма для каждой кинокомпании

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: name_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [68]:
answers['25'] = '3. Midnight Picture Show'

In [69]:
data25 = pd.read_csv('movie_bd_v5.csv')
data25['production_companies'] = data25['production_companies'].apply(lambda x:x.split('|'))
data25['overview_length'] =  data25['overview'].str.split().apply(len) #создаём столбик с количеством слов в описании фильма
data_25_prod_com = data25.explode('production_companies') #создаём таблицу по кинокомпаниям
data_25_prod_com.groupby('production_companies')['overview_length'].mean().sort_values(ascending = False)# считаем среднее значение длинны описания фильма для каждой кинокомпани

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [70]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [72]:
data_26 = pd.read_csv('movie_bd_v5.csv')
data_26.sort_values('vote_average')[['original_title', 'vote_average' ]]
data_26.query('vote_average >= vote_average.quantile(0.99)').sort_values('vote_average', ascending = False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,12/28/2007,7.8,2007
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,7.8,2004
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,9/18/2013,7.8,2013
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,12/23/2009,7.8,2009
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,11/26/2014,7.8,2014
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,7.8,2001

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [73]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [74]:
data27 = pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].apply(lambda x:x.split('|'))
data27
import itertools
c_list = data27.explode('cast').cast.reset_index()
c_list
c_list2 = []
par_list = []
for i in range(len(data27.cast)):
    c_list2_1 = list(itertools.combinations(data27.cast.iloc[i],2))
    c_list2.append(c_list2_1)
for par in c_list2:
    for para in par:
        par_list.append(para)
max_par = pd.Series(Counter(par_list)) 
max_par.sort_values(ascending = False)

Daniel Radcliffe  Emma Watson             8
                  Rupert Grint            8
Rupert Grint      Emma Watson             7
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
                                         ..
Emma Stone        Josh Brolin             1
Ryan Gosling      Nick Nolte              1
                  Josh Brolin             1
Sean Penn         Nick Nolte              1
Chris Pratt       Bryce Dallas Howard     1
Length: 18121, dtype: int64

# Submission

In [75]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3.Chris Hemsworth',
 '16': '3.Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [76]:
# и убедиться что ни чего не пропустил)
len(answers)

27